---
title: Welcome to Middleman
relative: ..
---




<script language="JavaScript" type="text/javascript" src="/events/segment.js"></script>
<link rel="stylesheet" href="/events/segment.css">

<h1 class="text-center"> </h1>
<br><br>

<div class="container" >
  <div id="segment"  class="segmented" style="max-width:250;">
    <label id="calendar"><input type="radio" name="segmented" /> Calendar </label>
    <label class="checked" id="map"><input type="radio" name="segmented" checked /> Map </label>
    <label id="list"><input type="radio" name="segmented" /> List </label>
  </div>
</div>


<h1 class="text-center">Map of Events</h1>
<br><br>

<div id='calendar' class="list"></div>
