.carousel {
  margin: auto;
}

#logo {
 margin-top: 10px; margin-bottom: -10px; color: #fff; font-size: 1.4em; font-weight: bold; font-family: Helvetica; text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


.card {
	padding-top: 10px;
	background-color: white;
	border: 2px solid;
    border-radius: 25px;
    border-color: gray;
}

.footer {
	background-color: #F8F8F8;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
}


 #footContent{
 	//background-color: #F8F8F8;
	max-width: 1000px;
    //padding: 15px20px;
    margin: 0auto;
    //overflow: hidden;
    font-size: 11px;
    text-align: right;
}

#footerBar{
	float: left;
    text-align: left;
}
#footerNav{
	display: inline-block;
	font-size: 11px;
    //padding: 10px00;
}

.footerNavItem{
	margin-left: 5px;
	margin-right: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


#body {
  position: relative;
  margin: 0;
  padding-bottom: 14rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #D6DBE0;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.navbar-brand{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
.navbar{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
    padding-top: 10px;
	padding-bottom: 10px;
	transition:all ease .3s;
	background-color: #D6DBE0 !important;
}
/*.navbar-default .navbar-nav>li>a{
   color:#573E7D !important;
}
.dropdown-menu > li > a {
   color:#573E7D !important;
}
.navbar-default .navbar-nav>li>a:hover{
   color:#3B2A54 !important;
}*/
.shrink-nav {
	padding-top: 2px !important; /*changeable*/
	padding-bottom: 0px !important; /*changeable*/
	background-color: #F8F8F8 !important;
}
.logo img{
  margin-top:5px; 
  width:200px !important;/*changeable*/ 
  transition:width ease-in-out .3s;
}
.shrink-logo img {
  transition:width ease-in-out .3s;
	width:180px !important;/*changeable*/ 
}
@media(max-width:767px){
  .logo img{
  width:200px !important;/*changeable*/ 
}
  .shrink-logo img {
     margin-top:10px; 
	width:160px !important;/*changeable*/ 
}
}

