<% rel = current_page.data.relative %>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</div>
<div class="footer" >
    <hr>
    <div class="container">
        <div id="footContent">
            <div id="footerBar">
                Copyright &copy; 2017 
                <a href="http://www.innovateafitc.com/" target="_parent">inovateAFTIC</a>.
                All rights reserved.<br/>Phone: (334) 000-0000
            </div>
            <div id="footerNav">
                <a class="footerNavItem" href="<%= rel %>/">Home</a>
                <!--|
                a class="footerNavItem" href="#">Activities</a-->
                |
                <a class="footerNavItem" href="<%= rel %>/FAQ" target="_blank"> FAQ </a>
                |
                <a class="footerNavItem" href="<%= rel %>/Contact">Contact Us</a>
            </div>
        </div> 
    </div>
</div>

	</body>
</html>