---
title: Welcome to Middleman
relative: ..
---


<h1 class="text-center">Get Prepared!</h1>
<br><br>

<div class="list" style="padding: 40px; font-size: 120%; line-height: 150%">

<p>
	&nbsp;&nbsp; &nbsp; &nbsp;The ACSC resident curriculum is a rigorous 10-month graduate-level program taught through intensive seminars and engaging lectures. Courses cover topics that include the profession of arms, leadership and ethics, joint operations, airpower, and the international environment. Additionally, students have the opportunity to conduct research and participate in elective courses that explore topics of varying interests. Success at ACSC is wholly dependent on student engagement and ability students should arrive eager and prepared to critically write, read, and think at an advanced level of mastery. Students who successfully complete the ACSC Resident Program are awarded Joint Professional Military Education I credit as adjudicated by the Joint Chiefs of Staff. The school is further accredited by the Southern Association of Colleges and Schools Commission on Colleges. As such, Air University through ACSC awards the Masters of Military Operational Art and Science Degree to qualified students who meet all curriculum and criteria requirements.
</p>
<br>
<img alt="AY18 Curriculum" src="../images/AY18_Curriculum.jpg" />

</div>